/* .mat-toolbar {
    margin-left: 50px;
    width: 768px;
} */

/*El tamaño de una tablet es 420px*/
@media screen and (max-width: 420px) {
    .mat-toolbar{
        margin: 0px;
        padding-right: 100%;
        height: 100px;
        display: flex;
        display: inline-block;
    }

    .mat-toolbar span{
        margin: 0px;
       display: inline;
    }
}