<mat-toolbar color="primary">
    <span>FORO DE DISCUSION</span>

    <span class="example-spacer"></span>

    <button mat-button *ngFor="let item of menu" [routerLink]="item.redirect">{{ item.nombre }}</button>

    <span class="example-spacer"></span>


</mat-toolbar>
<!-- 
<div class="nuevo">
    <h1>CURRICULUM VITAE DE:</h1>
    <h2>ALIZON MELANY CONDORI MORALES</h2>
</div> -->