<body>
    
    <link rel="stylesheet" href="./inicio.component.css">

 
    <section class="foros">

        <div class="container">
            <!-- Para mostrar la tabla de publicaciones -->
            <div class="posts-table">
                <div class="table-head">
                    <div class="status">Estado</div>
                    <div class="subjects">Asignaturas</div>
                    <div class="replies">Respuestas/Vistas</div>
                    <div class="last-reply">Última Respuesta</div>
                </div>
    
                <!-- Para el estado -->
                <div class="table-row">
                    <div class="status"><i class="fa-solid fa-fire"></i></div>
                    <div class="subjects">
                        <a href="">¿Lees libros en fisico? ¿con la tecnologia actual?</a>
                        <br>
                        <span>Empezado por <b><a href="">Usuario</a></b>.</span>
                    </div>
                    <!-- Para sus repuestas y vistas -->
                    <div class="replies">
                        2 respuestas <br> 125 vistas
                    </div>
    
                    <!-- Para la ultima respuesta -->
                    <div class="last-reply">
                        Oct 12 2021 <br> Por <b><a href="">Usuario</a></b>
                    </div>
                </div>
    
                <!-- Comienza Aqui -->
                <div class="table-row">
                    <div class="status"><i class="fa-solid fa-fire"></i></div>
    
                    <div class="subjects">
                        <a href="">¿Lees libros en fisico? ¿con la tecnologia actual?</a>
                        <br>
                        <span>Empezado por <b><a href="">Usuario</a></b> .</span>
                    </div>
                    <!-- Para sus repuestas y vistas -->
                    <div class="replies">
                        2 respuestas <br> 125 vistas
                    </div>
    
                    <!-- Para la ultima respuesta -->
                    <div class="last-reply">
                        Oct 12 2021 <br> Por <b><a href="">Usuario</a></b>
                    </div>
                </div>
    
                <div class="table-row">
                    <div class="status"><i class="fa-solid fa-fire"></i></div>
    
                    <div class="subjects">
                        <a href="">¿Lees libros en fisico? ¿con la tecnologia actual?</a>
                        <br>
                        <span>Empezado por <b><a href="">Usuario</a></b> .</span>
                    </div>
                    <!-- Para sus repuestas y vistas -->
                    <div class="replies">
                        2 respuestas <br> 125 vistas
                    </div>
    
                    <!-- Para la ultima respuesta -->
                    <div class="last-reply">
                        Oct 12 2021 <br> Por <b><a href="">Usuario</a></b>
                    </div>
                </div>
    
                <div class="table-row">
                    <div class="status"><i class="fa-solid fa-fire"></i></div>
    
                    <div class="subjects">
                        <a href="">¿Lees libros en fisico? ¿con la tecnologia actual?</a>
                        <br>
                        <span>Empezado por <b><a href="">Usuario</a></b> .</span>
                    </div>
                    <!-- Para sus repuestas y vistas -->
                    <div class="replies">
                        2 respuestas <br> 125 vistas
                    </div>
    
                    <!-- Para la ultima respuesta -->
                    <div class="last-reply">
                        Oct 12 2021 <br> Por <b><a href="">Usuario</a></b>
                    </div>
                </div>
    
                <div class="table-row">
                    <div class="status"><i class="fa-solid fa-fire"></i></div>
    
                    <div class="subjects">
                        <a href="">¿Lees libros en fisico? ¿con la tecnologia actual?</a>
                        <br>
                        <span>Empezado por <b><a href="">Usuario</a></b> .</span>
                    </div>
                    <!-- Para sus repuestas y vistas -->
                    <div class="replies">
                        2 respuestas <br> 125 vistas
                    </div>
    
                    <!-- Para la ultima respuesta -->
                    <div class="last-reply">
                        Oct 12 2021 <br> Por <b><a href="">Usuario</a></b>
                    </div>
                </div>
    
                <div class="table-row">
                    <div class="status"><i class="fa-solid fa-fire"></i></div>
    
                    <div class="subjects">
                        <a href="">¿Lees libros en fisico? ¿con la tecnologia actual?</a>
                        <br>
                        <span>Empezado por <b><a href="">Usuario</a></b> .</span>
                    </div>
                    <!-- Para sus repuestas y vistas -->
                    <div class="replies">
                        2 respuestas <br> 125 vistas
                    </div>
    
                    <!-- Para la ultima respuesta -->
                    <div class="last-reply">
                        Oct 12 2021 <br> Por <b><a href="">Usuario</a></b>
                    </div>
                </div>
    
                <div class="table-row">
                    <div class="status"><i class="fa-solid fa-fire"></i></div>
    
                    <div class="subjects">
                        <a href="">¿Lees libros en fisico? ¿con la tecnologia actual?</a>
                        <br>
                        <span>Empezado por <b><a href="">Usuario</a></b> .</span>
                    </div>
                    <!-- Para sus repuestas y vistas -->
                    <div class="replies">
                        2 respuestas <br> 125 vistas
                    </div>
    
                    <!-- Para la ultima respuesta -->
                    <div class="last-reply">
                        Oct 12 2021 <br> Por <b><a href="">Usuario</a></b>
                    </div>
                </div>
    
                <div class="table-row">
                    <div class="status"><i class="fa-solid fa-fire"></i></div>
    
                    <div class="subjects">
                        <a href="">¿Lees libros en fisico? ¿con la tecnologia actual?</a>
                        <br>
                        <span>Empezado por <b><a href="">Usuario</a></b> .</span>
                    </div>
                    <!-- Para sus repuestas y vistas -->
                    <div class="replies">
                        2 respuestas <br> 125 vistas
                    </div>
    
                    <!-- Para la ultima respuesta -->
                    <div class="last-reply">
                        Oct 12 2021 <br> Por <b><a href="">Usuario</a></b>
                    </div>
                </div>
                <!-- Termina aqui -->
            </div>
    
            <!-- Comienza la paginacion -->
            <div class="pagination">
                Paginas: <a href="">1</a><a href="">2</a><a href="">3</a>
            </div>
            <!-- Final de la paginacion -->

        </div>

    </section>

</body>

    
