<div class="container">

    <!-- <mat-toolbar>
        <span>Usuarios</span>
        <div class="example-spacer"></div>

        <button mat-raised-button color="primary" routerLink="/dashboard/registro/nuevo">Agregar</button>
    </mat-toolbar> -->

    
<div class="body">
    <div class="login">
        <form id="formulario-registro" [formGroup]="formulario" (ngSubmit)="guardar()">
            <div class="cerrado">
                <h4>Registrarse</h4>
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="form-block" id="grupo-usuario">
                <div class="row">
                    <label for="fnombre" class="lbl">
                        Nombre :
                    </label>
                </div>
                <input 
                type="text" 
                id="nombre" 
                class="form-control" 
                placeholder="Nombre"
                formControlName="nombre"
                [class.is-invalid]="nombreNoValido">
                <small class="text-danger" *ngIf="nombreNoValido">
                    Ingrese mas de 3 letras
                </small>
            </div>
            <div class="form-block" id="grupo-Email">
                <div class="row">
                    <label for="femail" class="lbl">
                        Email :
                    </label>
                </div>
                <input 
                type="text" 
                id="email" 
                class="form-control" 
                placeholder="Email"
                formControlName="correo"
                [class.is-invalid]="correoNoValido">
                <small class="text-danger" *ngIf="correoNoValido">
                    Ingrese un email valido
                </small>
            </div>

            <div class="form-block" id="grupo-Contraseña">
                <div class="row">
                    <label for="fusuario" class="lbl">
                        Usuario :
                    </label>
                </div>
                <input 
                type="text" 
                id="fusuario" 
                class="form-control" 
                placeholder="Usuario"
                formControlName="usuario"
                [class.is-invalid]="usuarioNoValido">
                <small class="text-danger" *ngIf="usuarioNoValido">
                    Ingrese un nombre de usuario
                </small>
                <small class="text-danger" *ngIf="usuarioIgualJerjer">
                    El nombre de usuario ya esta en uso
                </small>
            </div>

            <div class="form-block" id="grupo-Contraseña">
                <div class="row">
                    <label for="fcontraseña" class="lbl">
                        Contraseña :
                    </label>
                </div>
                <input 
                type="password" 
                id="fcontraseña" 
                class="form-control" 
                placeholder="Contraseña"
                formControlName="contrasena1"
                [class.is-invalid]="contrasena1NoValido">
                <!-- <small class="text-danger" *ngIf="contrasena1NoValido">
                    Ingrese una contraseña
                </small> -->
            </div>

           <div class="form-block" id="grupo-Contraseña">
                <div class="row">
                    <label for="fcontraseña" class="lbl">
                        Repita :
                    </label>
                </div>
                <input 
                type="password" 
                id="fcontraseña2" 
                class="form-control" 
                placeholder="Contraseña2"
                formControlName="contrasena2"
                [class.is-invalid]="contrasena2NoValido">
                <!-- <small class="text-danger" *ngIf="contrasena2NoValido"> -->
                    <!-- Ingrese minimo 8 caracteres, entre letrasminusculas, letras mayúsculas, número y caracteresespeciales. -->
                    <!-- Al menos 8 caracteres de longitud, letras minusculas, letras mayúsculas, números y caracteres especiales -->
                    <!-- Ingrese una contraseña
                </small> -->
            </div>

            <div class="form-block" id="grupo-Enviar">
                <button type="submit" class="btn" [disabled]="formulario.invalid">Registrase</button>
            </div>

        </form>
    </div>
</div>

</div>
