.body {
  padding-top: 8%;
  text-align: center;
  background-color: #f5f5f5;
}
  
.login {
  width: 330px;
  margin-left: auto;
  margin-right: auto;
}
  
.login img {
  width: 50%;
}

.ancho {
  width: 80%;
}
  
.boton {
  height: 50px;
}

.spinner {
  margin: 0 auto;
}

/*El tamaño de una tablet es 420px*/
@media screen and (max-width: 420px) {
  small{
    font-size: 20px;
}

#contactenos {
    position:relative;
  }
  
  #contactenos iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  
  #contactenos form {
    padding: 20px;
    margin-left: -40px;
    margin-right: -40px;
    background-color: aqua;
  }
  
  #contactenos #formulario-contacto .form-block {
    width: 90%;
    margin-bottom: 25px;
  }
  
  #contactenos #formulario-contacto .form-block .form-control {
    display: block;
    height: 40px;
    font-size: 16px;
    width: 100%;
    padding: 5px 10px;
  }
  
  #contactenos #formulario-contacto .form-block textarea {
    display: block;
    height: 100px;
    font-size: 16px;
    border: 1px solid grey;
    width: 100%;
    padding: 5px 10px;
    /*No se puede dimensionar el textarea*/
    resize: none;
  }
  
  #contactenos #formulario-contacto .form-block.bloque-ultimo {
    margin-bottom: 0;
  }

/*Validacion del formulario*/
.formulario-input-error {
  font-size: 12px;
  margin-bottom: 0;
  color: black;
  display: none;
}

.formulario-input-error-activo {
  display: block;
}

.formulario-mensaje-exito {
  font-size: 14px;
  color: white;
  display: none;
}

.formulario-mensaje-exito-activo {
  display: block;
}

.form-control-error {
  border: 3px solid orange;
}
}