<div class="container">
    <mat-toolbar>
        <span>Ingrese un mensaje</span>
        <div class="example-spacer"></div>

        <button mat-raised-button color="primary" routerLink="/dashboard/crear-usuario/nuevo">Agregar</button>
    </mat-toolbar>

    <div *ngIf="listUsuarios.length > 0">

      <mat-form-field appearance="standard">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
 
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
    
          <!-- Position Column -->
          <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
            <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
          </ng-container>
    
          <!-- Name Column -->
          <ng-container matColumnDef="apellidos">
            <th mat-header-cell *matHeaderCellDef> Apellidos </th>
            <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
          </ng-container>
    
          <!-- Weight Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
    
          <!-- Symbol Columnhbmnghdcd -->
          <ng-container matColumnDef="celular">
            <th mat-header-cell *matHeaderCellDef> Celular </th>
            <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
          </ng-container>
                                                                                
          <ng-container matColumnDef="hora">
            <th mat-header-cell *matHeaderCellDef> Hora </th>
            <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
          </ng-container>

          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
          </ng-container>
 
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element;let i = index" class="alineacion">
                <a class="icono-1 pointer" matTooltip="Ver Mensaje" (click)="verUsuario(element.nombres)">
                  <mat-icon>search</mat-icon>
                </a>
                <a class="icono-2 pointer" matTooltip="Editar Mensaje" (click)="modificarUsuario(element.nombres)">
                  <mat-icon>edit</mat-icon>
                </a>
                <a class="icono-3 pointer" matTooltip="Eliminar Mensaje" (click)="eliminarUsuario(element.nombres)">
                  <mat-icon>delete</mat-icon>
                </a>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons>
        </mat-paginator>

      </div>
    </div>



    <!-- <h2 *ngIf="listUsuarios.length === 0">No hay usuarios para mostrar</h2> -->


</div>
    
