table {
    width: 100%;
    margin-top: 10px;
}

th {
    width: 20%;
}

.alineacion {
    text-align: right;
}
    
.pointer {
    cursor: pointer;
}

.icono-1 {
    color: #1878b0;
}
    
.icono-2 {
    color: #1f516f;
}
    
.icono-3 {
    color: #e15639;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

/*El tamaño de una tablet es 420px*/
@media screen and (max-width: 420px)  {
    .container table{
        margin: 0px;
        /* background-color: aqua; */
    }

    /* .container mat-toolbar {
        background-color: aqua;
    } */

    table {
        width: 100%;
        margin-top: 10px;
    }
    
    th {
        width: 20%;
    }
    
    .alineacion {
        text-align: right;
    }
        
    .pointer {
        cursor: pointer;
    }
    
    .icono-1 {
        color: #1878b0;
    }
        
    .icono-2 {
        color: #1f516f;
    }
        
    .icono-3 {
        color: #e15639;
    }
    
    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
}
    